@font-face {
    font-family: Tahoma;
    src: url(../font/Tahoma.ttf);
}
body{
    font-family:Tahoma,sans-serif ;
    font-size: 1em;
}
/*headers font style*/
#name{
    text-align: center;
    font-size: 1.7em;
    color: rgba(31, 51, 63, 0.46);
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 30px;
}
#skills h2{
    text-align: center;
    padding: 10px;
}
/*buttons font style*/
#contact-button{
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #714c97;

}
#contact-button:hover{
    color: #ffd443;
    background: #714c97;
}
#skills-button{
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #714c97;
}
#skills-button:hover{
    color: #ffd443;
    background: #714c97;
}
/*Contacts font style*/
.contacts span{
    font-size: 2.8em;
    padding: 15px;
}

.contacts p{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 0.8em;
    font-weight: bold;

}
.contacts p a{
    text-decoration: none;
}
.contacts:nth-child(1) span{
    color: #ffffff;
}
.contacts:nth-child(2) span{
    color: #ffffff;
}
.contacts:nth-child(3) span{
     width: 100%;
     padding: 0;
     text-align: center;
}

.contacts:nth-child(4) span{
    color: #ffffff;
}
.contacts:nth-child(5) span{
    color: #ffffff;
}

.contacts:nth-child(1) p{
     color: #ffffff;
 }
.contacts:nth-child(2) p{
    color: #424b42;
}
.contacts:nth-child(3) p{
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.7em;
}
.contacts:nth-child(4) p{
    color: #424b42;
}
.contacts:nth-child(5) p{
    color: #ffffff;
}
/*skills font style */
.items p{
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
}
/*education style fonts*/

#education-button{
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #714c97;
}

#education-button:hover{
    color: #ffd443;
    background: #714c97;
}
#pravec h3{
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    margin-top: 18px;
}
#pravec p{
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    display: block;
}

#pravec-info{
    text-align: center;
    font-size: 1.2em;
}

#soft-uni h3{
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    margin-top: 18px;
}
#soft-uni p{
    text-align: center;
    font-size: 1.2em;
}

#soft-uni-info{
    text-align: center;
    font-size: 1.1em;
}

/*Rewards*/
#rewards-button{
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #714c97;
}
#rewards-button:hover{
    color: #ffd443;
    background: #714c97;
}

#rewards{
    text-align: center;
}
#rewards h4{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}
#rewards p{
    font-size: 1.2em;
    padding-bottom: 20px;
}
#certificate h4{
    font-size: 1.8em;
    margin: 0;
    padding-top: 30px;
}
#certificate-all li{
    color:#714c97;
    background: #ffbe2b;
    font-size: 1.1em;
    text-transform: uppercase;

}
#certificate-all li a{
    text-decoration: none;
    display: block;
    width: 100%;
}

#certificate-all li:hover{
    color:#ffbe2b;
    background: #714c97;

}
/*personal skills*/

#personal-button{
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #714c97;
}
#personal-button:hover{
    color: #ffd443;
    background: #714c97;
}

#personal  h5{
    font-size: 1.6em;
    padding: 15px;
    text-align: center;
}

#personal-skills{
    text-align: center;
}

#personal-skills p{
    font-size: 1.2em;
    text-transform: uppercase;
}

#language-eu p:nth-child(odd){
     text-align: center;
     background: #714c97;
     font-size: 1.4em;
     padding: 4px;
     margin-top: 20px;

 }
#language-eu p:nth-child(even){
    text-align: center;
    background: #ffd443;
    font-size: 1.1em;
    padding: 4px;

}
#language-eu  div .language-type{
    border: none;
    font-size: 1.9em;
    padding: 10px;
    background: none;
}

#language-bg p:nth-child(odd){
    text-align: center;
    background: #ffd443;
    font-size: 1.2em;
    padding: 4px;


}
#language-bg p:nth-child(even){
    text-align: center;
    background: #a577de;
    font-size: 1.4em;
    padding: 4px;
    margin-top: 20px;

}
#language-bg  div .language-type{
    border: none;
    font-size: 1.9em;
    padding: 10px;
    background: none;

}
/*responsive start here*/
@media screen and (max-width: 1000px){

}